a {
  text-decoration: none;
}

header a {
  color: white;
}

a:hover {
  text-decoration: none;
}

/* Created a Flexbox Header as part of the requirements to use a Flexbox */
header {
  width: 100%;
  background-color: rgb(60, 60, 60);
}

header ul {
  display: flex;
  justify-content: flex-end;
  padding-right: 10%;
}

header a:hover {
  color: #ec5242;
}

header li {
  color: white;
  width: 70px;
  height: 30px;
  padding: 5px 0;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

#i-1 {
  padding-left: 50px;
}

#i-2 {
  padding-left: 25px;
}

nav {
  background-color: white;
}

nav img {
  width: 90px;
  height: 90px;
  padding: 10px;
}

#navbar-heading {
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  font-weight: 600;
  padding-top: 35px;
  color: #ec5242;
}

#navbar-items li {
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  font-weight: 600;
  padding: 35px 10px;
}

#navbar-items a {
  color: #272a31;
}

#navbar-items a:hover {
  color: #ec5242;
}
